.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
}

/* .dosage-section {
    display: flex;
    flex-direction: column;
} */
.reminder-icon-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
}