nav {
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    background-color: rgb(136, 200, 241);
}

.navButton {
    text-decoration: none;
    color: black;
    border: 2px solid white;
    padding: 6px;
    border-radius: 8px;
    background-color: rgb(175, 215, 240);
    cursor: pointer;
}
.navButton:hover{
    background-color: rgb(56, 100, 127);
    color: white;
}
