nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    background-color: #457B9D;
}

.navButton {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 8px;
    background-color: #1D3557;
    cursor: pointer;
    font-weight: 600;
    min-width: 150px;
}

.navButton:hover {
    background-color: #A8DADC;
    color: #1D3557;
    font-weight: 800;
}



.welcome-message {
    color: white;
}

.page-title {
    font-size: 4.5vw;
    color: #F1FAEE;
    color: #FAF4ED;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: #A8DADC;
}

@media only screen and (max-width: 500px) {
    .page-title {
        font-size: 35px;
    }

    nav {
        flex-wrap: wrap;
    }

    .welcome-message {
        display: none;
    }
}